{% extends 'household_main/base.html' %}

{% block page_header %}
  <h1>{{ book.text }}</h1>
{% endblock page_header %}

{% block content %}
        {% if metadata %}
          <p><strong>{{ metadata.title }}</strong> by {{ metadata.authors|join:", " }}</p>
          {% if metadata.thumbnail_url %}
            <img src="{{ metadata.thumbnail_url }}" alt="{{ metadata.title }}">
          {% endif %}
          {% if metadata.description %}
            <p>{{ metadata.description }}</p>
          {% endif %}
          <p><a href="{{ metadata.external_url }}" target="_blank">View more</a></p>

            <h6>Info from {{ metadata.source|title }}</h6>
        {% else %}
          <p>No external metadata available.</p>
        {% endif %}

    <p>
    <a href="{% url 'book_club:new_book_entry' book.id %}">Add new entry</a>
  </p>
  {% for book_entry in book_entries %}
    <div class="card mb-3">
      <!-- Card header with timestamp and edit link -->
      <h4 class="card-header">
        {{ book_entry.date_added|date:'M d, Y H:i' }}
      </h4>
      <!-- Card body with entry text -->
      <div class="card-body">{{ book_entry.user|linebreaks }}</div>
    </div>
  {% empty %}
    <p>You haven't read this book yet. Get to it.</p>
  {% endfor %}

{% endblock content %}