{% extends "household_main/base.html" %}
{% load django_bootstrap5 %}

{% block content %}
<div class="container py-4">
  <h2 class="mb-4">📚 New Book Entry</h2>
    <p>Words in {{ book }}: {{ book.words }}</p>

    <p> Words estimator:</p>
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  <form method="post" class="needs-validation" novalidate>
    {% csrf_token %}
    {% bootstrap_form form fields="text,words_completed" %}
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock %}
