{% extends "household_main/base.html" %}
{% block content %}

    <p><h4>Add a new entry for {{ book }}:</h4></p>
            <ul>
            <form action="{% url 'book_club:new_book_entry' book.id %}" method='post'>
                {% csrf_token %}
                {{ form.as_div }}
                <button name='submit' class="btn btn-lg btn-block btn-outline-primary">Completed {{ book }}?</button>
            </form>
            </ul>
            <ul>
                <p>Not finished?</p>
            </ul>
            <ul>
                <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'book_club:new_book_tracker_entry' book.id %}" role="button">Track where you currently are</a>
            </ul>

{% endblock content %}