{% extends 'household_main/base.html' %}

{% block page_header %}
  <h1>👾 Games</h1>
{% endblock page_header %}

{% block content %}
  <div class="accordion" id="bookCategories">
    {% for category, games in games_by_category.items %}
      <div class="accordion-item">
        <h2 class="accordion-header" id="heading-{{ forloop.counter }}">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse-{{ forloop.counter }}">
            {{ category }}
          </button>
        </h2>
        <div id="collapse-{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="heading-{{ forloop.counter }}" data-bs-parent="#gamesCategories">
          <div class="accordion-body">
            <ul class="list-group list-group-flush">
              {% for game in games %}
                <li class="list-group-item">
                  <a href="{% url 'gaming:game' game.id %}">{{ game.name }}</a>
                  <span class="text-muted float-end">{{ game.hours }}</span>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    {% empty %}
      <p>No games found :(.</p>
    {% endfor %}
  </div>

      <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'gaming:game_backlog' %}" role="button">🎮 Games Currently In Progress</a>

        {% if can_add_game %}
            <a href="{% url 'gaming:add_new_game' %}" class="btn btn-outline-primary">Add New game</a>
        {% endif %}
{% endblock content %}