{% extends "admin/change_form.html" %}
{% load static %}

{% block extrahead %}
  {{ block.super }}
  {{ media }}
    <script>
        console.log("✅ Custom change_form.html loaded");
         window.badgeMilestoneInitial = "{{ adminform.form.instance.milestone_type|default:'' }}";
         window.badgeMilestoneURL = "{% url 'admin:accounts_badge_milestone_options' %}";
         {#window.badgeMilestoneInitial = "{{ adminform.form.instance.milestone_type|default:'' }}";#}
    </script>
    <script src="{% static 'admin/js/badge_dynamic.js' %}"></script>
{% endblock %}

{% block content_title %}
  <h1>🎯 Badge Edit Page (Custom Template)</h1>
  {{ block.super }}
{% endblock %}