{% extends 'household_main/base.html' %}

{% block page_header %}
  <h1>Chores by Category</h1>
{% endblock page_header %}

{% block content %}

{% for category, chores in chores_by_category.items %}
  <h3 class="mt-4">{{ category }}</h3>
  <ul class="list-group border-bottom pb-2 mb-4">
    {% for chore in chores %}
      <li class="list-group-item border-0">
        <a href="{% url 'chores:chore' chore.id %}">{{ chore.text }}</a>
        <div class="card-body">{{ chore.wage|linebreaks }}</div>
      </li>
    {% endfor %}
  </ul>
{% empty %}
    <p>No chores have been added yet.</p>
{% endfor %}

  <div class="mt-4">
    <a class="nav-link" href="{% url 'chores:payout' %}">Payout</a>
  </div>

{% endblock content %}
