{% extends 'household_main/base.html' %}

{% block page_header %}
  <h1>Chores</h1>
{% endblock page_header %}

{% block content %}

  <ul class="list-group border-bottom pb-2 mb-4">
    {% for chore in chores %}
      <li class="list-group-item border-0">
        <a href="{% url 'chores:chore' chore.id %}">
          {{ chore.text }}</a>
          <div class="card-body">{{ chore.wage|linebreaks }}</div>
      </li>

    {% empty %}
      <li class="list-group-item border-0">No chores have been added yet.</li>
    {% endfor %}

    <li class="list-group-item border-0">
      <a class="nav-link" href="{% url 'chores:payout' %}">
          Payout</a></li>
  </ul>


{% endblock content %}