{% extends 'household_main/base.html' %}

{% block page_header %}
  <h1>{{ chore.text }}</h1>
{% endblock page_header %}

{% block content %}

  <p>
    <a href="{% url 'chores:new_chore_entry' chore.id %}">Add new entry</a>
  </p>

  {% for chore_entry in chore_entries %}
    <div class="card mb-3">
      <!-- Card header with timestamp and edit link -->
      <h4 class="card-header">
        {{ chore_entry.date_added|date:'M d, Y H:i' }}
      </h4>
      <!-- Card body with entry text -->
      <div class="card-body">{{ chore_entry.user|linebreaks }}</div>
    </div>
  {% empty %}
    <p>You've never done this chore before. Ask a grown-up to teach you how to do it!</p>
  {% endfor %}

{% endblock content %}